:root {
  /* Major third scale in px, base 16 (add 25% for every step) */
  --fs-14: 186.26;
  --fs-13: 149.01;
  --fs-12: 119.21;
  --fs-11: 95.37;
  --fs-10: 76.29;
  --fs-9: 61.04;
  --fs-8: 48.83;
  --fs-7: 39.06;
  --fs-6: 31.25;
  --fs-5: 25.00;
  --fs-4: 20.00;
  --fs-3: 16.00;
  --fs-2: 12.80;
  --fs-1: 10.24;

  /* View widths */
  --width-xs: 320;
  --width-sm: 640;
  --width-md: 768;
  --width-lg: 1024;
  --width-xl: 1280;
  --width-2xl: 1536;
  --width-3xl: 1792;
  --width-4xl: 2048;
  --width-5xl: 2404;
  /* Default values for min and max */
  --viewport-min: var(--width-xs);
  --viewport-max: var(--width-5xl);
  --container-min: var(--width-xs);
  --container-max: var(--width-5xl);
}

.font-1, .font-2, .font-3, .font-4, .font-5, .font-6, .font-7, .font-8, .font-9, .font-10, .font-11, .font-12, .font-13, .font-14,
.h1, .h2, .h3, .h4, .h5, .h6,
.f1, .f2, .f3, .f4, .f5, .f6, .f7,
.bend {
  --fs-max-fallback: var(--fs-max, var(--fs-min));
  --fs-cmin: min(var(--fs-min), var(--fs-max-fallback));
  --fs-cmax: max(var(--fs-min), var(--fs-max-fallback));
  --font-size-viewport: calc(var(--fs-min) * 1px + (var(--fs-max-fallback) - var(--fs-min)) * (100vw - var(--viewport-min) * 1px) / (var(--viewport-max) - var(--viewport-min)));
  --font-size-container: calc(var(--fs-min) * 1px + (var(--fs-max-fallback) - var(--fs-min)) * (100cqw - var(--container-min) * 1px) / (var(--container-max) - var(--container-min)));
  font-size: clamp(var(--fs-cmin) * 1px, var(--font-size-viewport), var(--fs-cmax) * 1px);
}

/* Header utilities that scale out of the box */
.h1 {
  --fs-max: var(--fs-12);
  --fs-min: var(--fs-7);
}

.h2 {
  --fs-max: var(--fs-11);
  --fs-min: var(--fs-6);
}

.h3 {
  --fs-max: var(--fs-10);
  --fs-min: var(--fs-5);
}

.h4 {
  --fs-max: var(--fs-9);
  --fs-min: var(--fs-4);
}

.h5 {
  --fs-max: var(--fs-8);
  --fs-min: var(--fs-3);
}

.h6 {
  --fs-max: var(--fs-7);
  --fs-min: var(--fs-2);
}

/* Add: Body utilities that scale automatically */
.f1 {
  --fs-max: var(--fs-9);
  --fs-min: var(--fs-7);
}

.f2 {
  --fs-max: var(--fs-8);
  --fs-min: var(--fs-6);
}

.f3 {
  --fs-max: var(--fs-7);
  --fs-min: var(--fs-5);
}

.f4 {
  --fs-max: var(--fs-6);
  --fs-min: var(--fs-4);
}

.f5 {
  --fs-max: var(--fs-5);
  --fs-min: var(--fs-3);
}

.f6 {
  --fs-max: var(--fs-4);
  --fs-min: var(--fs-2);
}

.f7 {
  --fs-max: var(--fs-3);
  --fs-min: var(--fs-1);
}


/* Utilities for precise scaling - default values, everything else need to override this */
.font-1 { --fs-min: var(--fs-1); }
.font-2 { --fs-min: var(--fs-2); }
.font-3 { --fs-min: var(--fs-3); }
.font-4 { --fs-min: var(--fs-4); }
.font-5 { --fs-min: var(--fs-5); }
.font-6 { --fs-min: var(--fs-6); }
.font-7 { --fs-min: var(--fs-7); }
.font-8 { --fs-min: var(--fs-8); }
.font-9 { --fs-min: var(--fs-9); }
.font-10 { --fs-min: var(--fs-10); }
.font-11 { --fs-min: var(--fs-11); }
.font-12 { --fs-min: var(--fs-12); }
.font-13 { --fs-min: var(--fs-13); }
.font-14 { --fs-min: var(--fs-14); }

/* sm - max part of breakpoint */
@media (min-width: 640px) {
  .sm\:font-1 { --fs-max: var(--fs-1); }
  .sm\:font-2 { --fs-max: var(--fs-2); }
  .sm\:font-3 { --fs-max: var(--fs-3); }
  .sm\:font-4 { --fs-max: var(--fs-4); }
  .sm\:font-5 { --fs-max: var(--fs-5); }
  .sm\:font-6 { --fs-max: var(--fs-6); }
  .sm\:font-7 { --fs-max: var(--fs-7); }
  .sm\:font-8 { --fs-max: var(--fs-8); }
  .sm\:font-9 { --fs-max: var(--fs-9); }
  .sm\:font-10 { --fs-max: var(--fs-10); }
  .sm\:font-11 { --fs-max: var(--fs-11); }
  .sm\:font-12 { --fs-max: var(--fs-12); }
  .sm\:font-13 { --fs-max: var(--fs-13); }
  .sm\:font-14 { --fs-max: var(--fs-14); }
}

@media (min-width: 768px) {
  .md\:font-1 { --fs-max: var(--fs-1); }
  .md\:font-2 { --fs-max: var(--fs-2); }
  .md\:font-3 { --fs-max: var(--fs-3); }
  .md\:font-4 { --fs-max: var(--fs-4); }
  .md\:font-5 { --fs-max: var(--fs-5); }
  .md\:font-6 { --fs-max: var(--fs-6); }
  .md\:font-7 { --fs-max: var(--fs-7); }
  .md\:font-8 { --fs-max: var(--fs-8); }
  .md\:font-9 { --fs-max: var(--fs-9); }
  .md\:font-10 { --fs-max: var(--fs-10); }
  .md\:font-11 { --fs-max: var(--fs-11); }
  .md\:font-12 { --fs-max: var(--fs-12); }
  .md\:font-13 { --fs-max: var(--fs-13); }
  .md\:font-14 { --fs-max: var(--fs-14); }
}

@media (min-width: 1024px) {
  .lg\:font-1 { --fs-max: var(--fs-1); }
  .lg\:font-2 { --fs-max: var(--fs-2); }
  .lg\:font-3 { --fs-max: var(--fs-3); }
  .lg\:font-4 { --fs-max: var(--fs-4); }
  .lg\:font-5 { --fs-max: var(--fs-5); }
  .lg\:font-6 { --fs-max: var(--fs-6); }
  .lg\:font-7 { --fs-max: var(--fs-7); }
  .lg\:font-8 { --fs-max: var(--fs-8); }
  .lg\:font-9 { --fs-max: var(--fs-9); }
  .lg\:font-10 { --fs-max: var(--fs-10); }
  .lg\:font-11 { --fs-max: var(--fs-11); }
  .lg\:font-12 { --fs-max: var(--fs-12); }
  .lg\:font-13 { --fs-max: var(--fs-13); }
  .lg\:font-14 { --fs-max: var(--fs-14); }
}

@media (min-width: 1280px) {
  .xl\:font-1 { --fs-max: var(--fs-1); }
  .xl\:font-2 { --fs-max: var(--fs-2); }
  .xl\:font-3 { --fs-max: var(--fs-3); }
  .xl\:font-4 { --fs-max: var(--fs-4); }
  .xl\:font-5 { --fs-max: var(--fs-5); }
  .xl\:font-6 { --fs-max: var(--fs-6); }
  .xl\:font-7 { --fs-max: var(--fs-7); }
  .xl\:font-8 { --fs-max: var(--fs-8); }
  .xl\:font-9 { --fs-max: var(--fs-9); }
  .xl\:font-10 { --fs-max: var(--fs-10); }
  .xl\:font-11 { --fs-max: var(--fs-11); }
  .xl\:font-12 { --fs-max: var(--fs-12); }
  .xl\:font-13 { --fs-max: var(--fs-13); }
  .xl\:font-14 { --fs-max: var(--fs-14); }
}

@media (min-width: 1536px) {
  .\32 \:font-1 { --fs-max: var(--fs-1); }
  .\32 \:font-2 { --fs-max: var(--fs-2); }
  .\32 \:font-3 { --fs-max: var(--fs-3); }
  .\32 \:font-4 { --fs-max: var(--fs-4); }
  .\32 \:font-5 { --fs-max: var(--fs-5); }
  .\32 \:font-6 { --fs-max: var(--fs-6); }
  .\32 \:font-7 { --fs-max: var(--fs-7); }
  .\32 \:font-8 { --fs-max: var(--fs-8); }
  .\32 \:font-9 { --fs-max: var(--fs-9); }
  .\32 \:font-10 { --fs-max: var(--fs-10); }
  .\32 \:font-11 { --fs-max: var(--fs-11); }
  .\32 \:font-12 { --fs-max: var(--fs-12); }
  .\32 \:font-13 { --fs-max: var(--fs-13); }
  .\32 \:font-14 { --fs-max: var(--fs-14); }
}

@media (min-width: 1792px) {
  .\33 \:font-1 { --fs-max: var(--fs-1); }
  .\33 \:font-2 { --fs-max: var(--fs-2); }
  .\33 \:font-3 { --fs-max: var(--fs-3); }
  .\33 \:font-4 { --fs-max: var(--fs-4); }
  .\33 \:font-5 { --fs-max: var(--fs-5); }
  .\33 \:font-6 { --fs-max: var(--fs-6); }
  .\33 \:font-7 { --fs-max: var(--fs-7); }
  .\33 \:font-8 { --fs-max: var(--fs-8); }
  .\33 \:font-9 { --fs-max: var(--fs-9); }
  .\33 \:font-10 { --fs-max: var(--fs-10); }
  .\33 \:font-11 { --fs-max: var(--fs-11); }
  .\33 \:font-12 { --fs-max: var(--fs-12); }
  .\33 \:font-13 { --fs-max: var(--fs-13); }
  .\33 \:font-14 { --fs-max: var(--fs-14); }
}

@media (min-width: 2048px) {
  .\34 \:font-1 { --fs-max: var(--fs-1); }
  .\34 \:font-2 { --fs-max: var(--fs-2); }
  .\34 \:font-3 { --fs-max: var(--fs-3); }
  .\34 \:font-4 { --fs-max: var(--fs-4); }
  .\34 \:font-5 { --fs-max: var(--fs-5); }
  .\34 \:font-6 { --fs-max: var(--fs-6); }
  .\34 \:font-7 { --fs-max: var(--fs-7); }
  .\34 \:font-8 { --fs-max: var(--fs-8); }
  .\34 \:font-9 { --fs-max: var(--fs-9); }
  .\34 \:font-10 { --fs-max: var(--fs-10); }
  .\34 \:font-11 { --fs-max: var(--fs-11); }
  .\34 \:font-12 { --fs-max: var(--fs-12); }
  .\34 \:font-13 { --fs-max: var(--fs-13); }
  .\34 \:font-14 { --fs-max: var(--fs-14); }
}

@media (min-width: 2404px) {
  .\35 \:font-1 { --fs-max: var(--fs-1); }
  .\35 \:font-2 { --fs-max: var(--fs-2); }
  .\35 \:font-3 { --fs-max: var(--fs-3); }
  .\35 \:font-4 { --fs-max: var(--fs-4); }
  .\35 \:font-5 { --fs-max: var(--fs-5); }
  .\35 \:font-6 { --fs-max: var(--fs-6); }
  .\35 \:font-7 { --fs-max: var(--fs-7); }
  .\35 \:font-8 { --fs-max: var(--fs-8); }
  .\35 \:font-9 { --fs-max: var(--fs-9); }
  .\35 \:font-10 { --fs-max: var(--fs-10); }
  .\35 \:font-11 { --fs-max: var(--fs-11); }
  .\35 \:font-12 { --fs-max: var(--fs-12); }
  .\35 \:font-13 { --fs-max: var(--fs-13); }
  .\35 \:font-14 { --fs-max: var(--fs-14); }

}

/* 5xl */
@media (max-width: 2404px) {
  .font-1\@5xl { --fs-max: var(--fs-1); --viewport-max: var(--width-5xl); }
  .font-2\@5xl { --fs-max: var(--fs-2); --viewport-max: var(--width-5xl); }
  .font-3\@5xl { --fs-max: var(--fs-3); --viewport-max: var(--width-5xl); }
  .font-4\@5xl { --fs-max: var(--fs-4); --viewport-max: var(--width-5xl); }
  .font-5\@5xl { --fs-max: var(--fs-5); --viewport-max: var(--width-5xl); }
  .font-6\@5xl { --fs-max: var(--fs-6); --viewport-max: var(--width-5xl); }
  .font-7\@5xl { --fs-max: var(--fs-7); --viewport-max: var(--width-5xl); }
  .font-8\@5xl { --fs-max: var(--fs-8); --viewport-max: var(--width-5xl); }
  .font-9\@5xl { --fs-max: var(--fs-9); --viewport-max: var(--width-5xl); }
  .font-10\@5xl { --fs-max: var(--fs-10); --viewport-max: var(--width-5xl); }
  .font-11\@5xl { --fs-max: var(--fs-11); --viewport-max: var(--width-5xl); }
  .font-12\@5xl { --fs-max: var(--fs-12); --viewport-max: var(--width-5xl); }
  .font-13\@5xl { --fs-max: var(--fs-13); --viewport-max: var(--width-5xl); }
  .font-14\@5xl { --fs-max: var(--fs-14); --viewport-max: var(--width-5xl); }
}

/* 4xl */
@media (max-width: 2048px) {
  .font-1\@4xl { --fs-max: var(--fs-1); --viewport-max: var(--width-4xl); }
  .font-2\@4xl { --fs-max: var(--fs-2); --viewport-max: var(--width-4xl); }
  .font-3\@4xl { --fs-max: var(--fs-3); --viewport-max: var(--width-4xl); }
  .font-4\@4xl { --fs-max: var(--fs-4); --viewport-max: var(--width-4xl); }
  .font-5\@4xl { --fs-max: var(--fs-5); --viewport-max: var(--width-4xl); }
  .font-6\@4xl { --fs-max: var(--fs-6); --viewport-max: var(--width-4xl); }
  .font-7\@4xl { --fs-max: var(--fs-7); --viewport-max: var(--width-4xl); }
  .font-8\@4xl { --fs-max: var(--fs-8); --viewport-max: var(--width-4xl); }
  .font-9\@4xl { --fs-max: var(--fs-9); --viewport-max: var(--width-4xl); }
  .font-10\@4xl { --fs-max: var(--fs-10); --viewport-max: var(--width-4xl); }
  .font-11\@4xl { --fs-max: var(--fs-11); --viewport-max: var(--width-4xl); }
  .font-12\@4xl { --fs-max: var(--fs-12); --viewport-max: var(--width-4xl); }
  .font-13\@4xl { --fs-max: var(--fs-13); --viewport-max: var(--width-4xl); }
  .font-14\@4xl { --fs-max: var(--fs-14); --viewport-max: var(--width-4xl); }
}

/* 3xl */
@media (max-width: 1792px) {
  .font-1\@3xl { --fs-max: var(--fs-1); --viewport-max: var(--width-3xl); }
  .font-2\@3xl { --fs-max: var(--fs-2); --viewport-max: var(--width-3xl); }
  .font-3\@3xl { --fs-max: var(--fs-3); --viewport-max: var(--width-3xl); }
  .font-4\@3xl { --fs-max: var(--fs-4); --viewport-max: var(--width-3xl); }
  .font-5\@3xl { --fs-max: var(--fs-5); --viewport-max: var(--width-3xl); }
  .font-6\@3xl { --fs-max: var(--fs-6); --viewport-max: var(--width-3xl); }
  .font-7\@3xl { --fs-max: var(--fs-7); --viewport-max: var(--width-3xl); }
  .font-8\@3xl { --fs-max: var(--fs-8); --viewport-max: var(--width-3xl); }
  .font-9\@3xl { --fs-max: var(--fs-9); --viewport-max: var(--width-3xl); }
  .font-10\@3xl { --fs-max: var(--fs-10); --viewport-max: var(--width-3xl); }
  .font-11\@3xl { --fs-max: var(--fs-11); --viewport-max: var(--width-3xl); }
  .font-12\@3xl { --fs-max: var(--fs-12); --viewport-max: var(--width-3xl); }
  .font-13\@3xl { --fs-max: var(--fs-13); --viewport-max: var(--width-3xl); }
  .font-14\@3xl { --fs-max: var(--fs-14); --viewport-max: var(--width-3xl); }
}

/* 2xl */
@media (max-width: 1536px) {
  .font-1\@2xl { --fs-max: var(--fs-1); --viewport-max: var(--width-2xl); }
  .font-2\@2xl { --fs-max: var(--fs-2); --viewport-max: var(--width-2xl); }
  .font-3\@2xl { --fs-max: var(--fs-3); --viewport-max: var(--width-2xl); }
  .font-4\@2xl { --fs-max: var(--fs-4); --viewport-max: var(--width-2xl); }
  .font-5\@2xl { --fs-max: var(--fs-5); --viewport-max: var(--width-2xl); }
  .font-6\@2xl { --fs-max: var(--fs-6); --viewport-max: var(--width-2xl); }
  .font-7\@2xl { --fs-max: var(--fs-7); --viewport-max: var(--width-2xl); }
  .font-8\@2xl { --fs-max: var(--fs-8); --viewport-max: var(--width-2xl); }
  .font-9\@2xl { --fs-max: var(--fs-9); --viewport-max: var(--width-2xl); }
  .font-10\@2xl { --fs-max: var(--fs-10); --viewport-max: var(--width-2xl); }
  .font-11\@2xl { --fs-max: var(--fs-11); --viewport-max: var(--width-2xl); }
  .font-12\@2xl { --fs-max: var(--fs-12); --viewport-max: var(--width-2xl); }
  .font-13\@2xl { --fs-max: var(--fs-13); --viewport-max: var(--width-2xl); }
  .font-14\@2xl { --fs-max: var(--fs-14); --viewport-max: var(--width-2xl); }
}

/* xl */
@media (max-width: 1280px) {
  .font-1\@xl { --fs-max: var(--fs-1); --viewport-max: var(--width-xl); }
  .font-2\@xl { --fs-max: var(--fs-2); --viewport-max: var(--width-xl); }
  .font-3\@xl { --fs-max: var(--fs-3); --viewport-max: var(--width-xl); }
  .font-4\@xl { --fs-max: var(--fs-4); --viewport-max: var(--width-xl); }
  .font-5\@xl { --fs-max: var(--fs-5); --viewport-max: var(--width-xl); }
  .font-6\@xl { --fs-max: var(--fs-6); --viewport-max: var(--width-xl); }
  .font-7\@xl { --fs-max: var(--fs-7); --viewport-max: var(--width-xl); }
  .font-8\@xl { --fs-max: var(--fs-8); --viewport-max: var(--width-xl); }
  .font-9\@xl { --fs-max: var(--fs-9); --viewport-max: var(--width-xl); }
  .font-10\@xl { --fs-max: var(--fs-10); --viewport-max: var(--width-xl); }
  .font-11\@xl { --fs-max: var(--fs-11); --viewport-max: var(--width-xl); }
  .font-12\@xl { --fs-max: var(--fs-12); --viewport-max: var(--width-xl); }
  .font-13\@xl { --fs-max: var(--fs-13); --viewport-max: var(--width-xl); }
  .font-14\@xl { --fs-max: var(--fs-14); --viewport-max: var(--width-xl); }
}

/* lg */
@media (max-width: 1024px) {
  .font-1\@lg { --fs-max: var(--fs-1); --viewport-max: var(--width-lg); }
  .font-2\@lg { --fs-max: var(--fs-2); --viewport-max: var(--width-lg); }
  .font-3\@lg { --fs-max: var(--fs-3); --viewport-max: var(--width-lg); }
  .font-4\@lg { --fs-max: var(--fs-4); --viewport-max: var(--width-lg); }
  .font-5\@lg { --fs-max: var(--fs-5); --viewport-max: var(--width-lg); }
  .font-6\@lg { --fs-max: var(--fs-6); --viewport-max: var(--width-lg); }
  .font-7\@lg { --fs-max: var(--fs-7); --viewport-max: var(--width-lg); }
  .font-8\@lg { --fs-max: var(--fs-8); --viewport-max: var(--width-lg); }
  .font-9\@lg { --fs-max: var(--fs-9); --viewport-max: var(--width-lg); }
  .font-10\@lg { --fs-max: var(--fs-10); --viewport-max: var(--width-lg); }
  .font-11\@lg { --fs-max: var(--fs-11); --viewport-max: var(--width-lg); }
  .font-12\@lg { --fs-max: var(--fs-12); --viewport-max: var(--width-lg); }
  .font-13\@lg { --fs-max: var(--fs-13); --viewport-max: var(--width-lg); }
  .font-14\@lg { --fs-max: var(--fs-14); --viewport-max: var(--width-lg); }
}

/* md */
@media (max-width: 768px) {
  .font-1\@md { --fs-max: var(--fs-1); --viewport-max: var(--width-md); }
  .font-2\@md { --fs-max: var(--fs-2); --viewport-max: var(--width-md); }
  .font-3\@md { --fs-max: var(--fs-3); --viewport-max: var(--width-md); }
  .font-4\@md { --fs-max: var(--fs-4); --viewport-max: var(--width-md); }
  .font-5\@md { --fs-max: var(--fs-5); --viewport-max: var(--width-md); }
  .font-6\@md { --fs-max: var(--fs-6); --viewport-max: var(--width-md); }
  .font-7\@md { --fs-max: var(--fs-7); --viewport-max: var(--width-md); }
  .font-8\@md { --fs-max: var(--fs-8); --viewport-max: var(--width-md); }
  .font-9\@md { --fs-max: var(--fs-9); --viewport-max: var(--width-md); }
  .font-10\@md { --fs-max: var(--fs-10); --viewport-max: var(--width-md); }
  .font-11\@md { --fs-max: var(--fs-11); --viewport-max: var(--width-md); }
  .font-12\@md { --fs-max: var(--fs-12); --viewport-max: var(--width-md); }
  .font-13\@md { --fs-max: var(--fs-13); --viewport-max: var(--width-md); }
  .font-14\@md { --fs-max: var(--fs-14); --viewport-max: var(--width-md); }
}

/* sm */
@media (max-width: 640px) {
  .font-1\@sm { --fs-max: var(--fs-1); --viewport-max: var(--width-sm); }
  .font-2\@sm { --fs-max: var(--fs-2); --viewport-max: var(--width-sm); }
  .font-3\@sm { --fs-max: var(--fs-3); --viewport-max: var(--width-sm); }
  .font-4\@sm { --fs-max: var(--fs-4); --viewport-max: var(--width-sm); }
  .font-5\@sm { --fs-max: var(--fs-5); --viewport-max: var(--width-sm); }
  .font-6\@sm { --fs-max: var(--fs-6); --viewport-max: var(--width-sm); }
  .font-7\@sm { --fs-max: var(--fs-7); --viewport-max: var(--width-sm); }
  .font-8\@sm { --fs-max: var(--fs-8); --viewport-max: var(--width-sm); }
  .font-9\@sm { --fs-max: var(--fs-9); --viewport-max: var(--width-sm); }
  .font-10\@sm { --fs-max: var(--fs-10); --viewport-max: var(--width-sm); }
  .font-11\@sm { --fs-max: var(--fs-11); --viewport-max: var(--width-sm); }
  .font-12\@sm { --fs-max: var(--fs-12); --viewport-max: var(--width-sm); }
  .font-13\@sm { --fs-max: var(--fs-13); --viewport-max: var(--width-sm); }
  .font-14\@sm { --fs-max: var(--fs-14); --viewport-max: var(--width-sm); }
}

/* Min */
@media (min-width: 640px) {
  .font-1\@sm { --fs-min: var(--fs-1); --viewport-min: var(--width-sm); }
  .font-2\@sm { --fs-min: var(--fs-2); --viewport-min: var(--width-sm); }
  .font-3\@sm { --fs-min: var(--fs-3); --viewport-min: var(--width-sm); }
  .font-4\@sm { --fs-min: var(--fs-4); --viewport-min: var(--width-sm); }
  .font-5\@sm { --fs-min: var(--fs-5); --viewport-min: var(--width-sm); }
  .font-6\@sm { --fs-min: var(--fs-6); --viewport-min: var(--width-sm); }
  .font-7\@sm { --fs-min: var(--fs-7); --viewport-min: var(--width-sm); }
  .font-8\@sm { --fs-min: var(--fs-8); --viewport-min: var(--width-sm); }
  .font-9\@sm { --fs-min: var(--fs-9); --viewport-min: var(--width-sm); }
  .font-10\@sm { --fs-min: var(--fs-10); --viewport-min: var(--width-sm); }
  .font-11\@sm { --fs-min: var(--fs-11); --viewport-min: var(--width-sm); }
  .font-12\@sm { --fs-min: var(--fs-12); --viewport-min: var(--width-sm); }
  .font-13\@sm { --fs-min: var(--fs-13); --viewport-min: var(--width-sm); }
  .font-14\@sm { --fs-min: var(--fs-14); --viewport-min: var(--width-sm); }

  .sm\:font-1 { --fs-min: var(--fs-1); --viewport-min: var(--width-sm); }
  .sm\:font-2 { --fs-min: var(--fs-2); --viewport-min: var(--width-sm); }
  .sm\:font-3 { --fs-min: var(--fs-3); --viewport-min: var(--width-sm); }
  .sm\:font-4 { --fs-min: var(--fs-4); --viewport-min: var(--width-sm); }
  .sm\:font-5 { --fs-min: var(--fs-5); --viewport-min: var(--width-sm); }
  .sm\:font-6 { --fs-min: var(--fs-6); --viewport-min: var(--width-sm); }
  .sm\:font-7 { --fs-min: var(--fs-7); --viewport-min: var(--width-sm); }
  .sm\:font-8 { --fs-min: var(--fs-8); --viewport-min: var(--width-sm); }
  .sm\:font-9 { --fs-min: var(--fs-9); --viewport-min: var(--width-sm); }
  .sm\:font-10 { --fs-min: var(--fs-10); --viewport-min: var(--width-sm); }
  .sm\:font-11 { --fs-min: var(--fs-11); --viewport-min: var(--width-sm); }
  .sm\:font-12 { --fs-min: var(--fs-12); --viewport-min: var(--width-sm); }
  .sm\:font-13 { --fs-min: var(--fs-13); --viewport-min: var(--width-sm); }
  .sm\:font-14 { --fs-min: var(--fs-14); --viewport-min: var(--width-sm); }
}

@media (min-width: 768px) {
  .font-1\@md { --fs-min: var(--fs-1); --viewport-min: var(--width-md); }
  .font-2\@md { --fs-min: var(--fs-2); --viewport-min: var(--width-md); }
  .font-3\@md { --fs-min: var(--fs-3); --viewport-min: var(--width-md); }
  .font-4\@md { --fs-min: var(--fs-4); --viewport-min: var(--width-md); }
  .font-5\@md { --fs-min: var(--fs-5); --viewport-min: var(--width-md); }
  .font-6\@md { --fs-min: var(--fs-6); --viewport-min: var(--width-md); }
  .font-7\@md { --fs-min: var(--fs-7); --viewport-min: var(--width-md); }
  .font-8\@md { --fs-min: var(--fs-8); --viewport-min: var(--width-md); }
  .font-9\@md { --fs-min: var(--fs-9); --viewport-min: var(--width-md); }
  .font-10\@md { --fs-min: var(--fs-10); --viewport-min: var(--width-md); }
  .font-11\@md { --fs-min: var(--fs-11); --viewport-min: var(--width-md); }
  .font-12\@md { --fs-min: var(--fs-12); --viewport-min: var(--width-md); }
  .font-13\@md { --fs-min: var(--fs-13); --viewport-min: var(--width-md); }
  .font-14\@md { --fs-min: var(--fs-14); --viewport-min: var(--width-md); }

  .md\:font-1 { --fs-min: var(--fs-1); --viewport-min: var(--width-md); }
  .md\:font-2 { --fs-min: var(--fs-2); --viewport-min: var(--width-md); }
  .md\:font-3 { --fs-min: var(--fs-3); --viewport-min: var(--width-md); }
  .md\:font-4 { --fs-min: var(--fs-4); --viewport-min: var(--width-md); }
  .md\:font-5 { --fs-min: var(--fs-5); --viewport-min: var(--width-md); }
  .md\:font-6 { --fs-min: var(--fs-6); --viewport-min: var(--width-md); }
  .md\:font-7 { --fs-min: var(--fs-7); --viewport-min: var(--width-md); }
  .md\:font-8 { --fs-min: var(--fs-8); --viewport-min: var(--width-md); }
  .md\:font-9 { --fs-min: var(--fs-9); --viewport-min: var(--width-md); }
  .md\:font-10 { --fs-min: var(--fs-10); --viewport-min: var(--width-md); }
  .md\:font-11 { --fs-min: var(--fs-11); --viewport-min: var(--width-md); }
  .md\:font-12 { --fs-min: var(--fs-12); --viewport-min: var(--width-md); }
  .md\:font-13 { --fs-min: var(--fs-13); --viewport-min: var(--width-md); }
  .md\:font-14 { --fs-min: var(--fs-14); --viewport-min: var(--width-md); }
}

@media (min-width: 1024px) {
  .font-1\@lg { --fs-min: var(--fs-1); --viewport-min: var(--width-lg); }
  .font-2\@lg { --fs-min: var(--fs-2); --viewport-min: var(--width-lg); }
  .font-3\@lg { --fs-min: var(--fs-3); --viewport-min: var(--width-lg); }
  .font-4\@lg { --fs-min: var(--fs-4); --viewport-min: var(--width-lg); }
  .font-5\@lg { --fs-min: var(--fs-5); --viewport-min: var(--width-lg); }
  .font-6\@lg { --fs-min: var(--fs-6); --viewport-min: var(--width-lg); }
  .font-7\@lg { --fs-min: var(--fs-7); --viewport-min: var(--width-lg); }
  .font-8\@lg { --fs-min: var(--fs-8); --viewport-min: var(--width-lg); }
  .font-9\@lg { --fs-min: var(--fs-9); --viewport-min: var(--width-lg); }
  .font-10\@lg { --fs-min: var(--fs-10); --viewport-min: var(--width-lg); }
  .font-11\@lg { --fs-min: var(--fs-11); --viewport-min: var(--width-lg); }
  .font-12\@lg { --fs-min: var(--fs-12); --viewport-min: var(--width-lg); }
  .font-13\@lg { --fs-min: var(--fs-13); --viewport-min: var(--width-lg); }
  .font-14\@lg { --fs-min: var(--fs-14); --viewport-min: var(--width-lg); }

  .lg\:font-1 { --fs-max: var(--fs-1); --fs-min: var(--fs-1); --viewport-min: var(--width-lg); }
  .lg\:font-2 { --fs-max: var(--fs-2); --fs-min: var(--fs-2); --viewport-min: var(--width-lg); }
  .lg\:font-3 { --fs-max: var(--fs-3); --fs-min: var(--fs-3); --viewport-min: var(--width-lg); }
  .lg\:font-4 { --fs-max: var(--fs-4); --fs-min: var(--fs-4); --viewport-min: var(--width-lg); }
  .lg\:font-5 { --fs-max: var(--fs-5); --fs-min: var(--fs-5); --viewport-min: var(--width-lg); }
  .lg\:font-6 { --fs-max: var(--fs-6); --fs-min: var(--fs-6); --viewport-min: var(--width-lg); }
  .lg\:font-7 { --fs-max: var(--fs-7); --fs-min: var(--fs-7); --viewport-min: var(--width-lg); }
  .lg\:font-8 { --fs-max: var(--fs-8); --fs-min: var(--fs-8); --viewport-min: var(--width-lg); }
  .lg\:font-9 { --fs-max: var(--fs-9); --fs-min: var(--fs-9); --viewport-min: var(--width-lg); }
  .lg\:font-10 { --fs-max: var(--fs-10); --fs-min: var(--fs-10); --viewport-min: var(--width-lg); }
  .lg\:font-11 { --fs-max: var(--fs-11); --fs-min: var(--fs-11); --viewport-min: var(--width-lg); }
  .lg\:font-12 { --fs-max: var(--fs-12); --fs-min: var(--fs-12); --viewport-min: var(--width-lg); }
  .lg\:font-13 { --fs-max: var(--fs-13); --fs-min: var(--fs-13); --viewport-min: var(--width-lg); }
  .lg\:font-14 { --fs-max: var(--fs-14); --fs-min: var(--fs-14); --viewport-min: var(--width-lg); }
}

@media (min-width: 1280px) {
  .font-1\@xl { --fs-min: var(--fs-1); --viewport-min: var(--width-xl); }
  .font-2\@xl { --fs-min: var(--fs-2); --viewport-min: var(--width-xl); }
  .font-3\@xl { --fs-min: var(--fs-3); --viewport-min: var(--width-xl); }
  .font-4\@xl { --fs-min: var(--fs-4); --viewport-min: var(--width-xl); }
  .font-5\@xl { --fs-min: var(--fs-5); --viewport-min: var(--width-xl); }
  .font-6\@xl { --fs-min: var(--fs-6); --viewport-min: var(--width-xl); }
  .font-7\@xl { --fs-min: var(--fs-7); --viewport-min: var(--width-xl); }
  .font-8\@xl { --fs-min: var(--fs-8); --viewport-min: var(--width-xl); }
  .font-9\@xl { --fs-min: var(--fs-9); --viewport-min: var(--width-xl); }
  .font-10\@xl { --fs-min: var(--fs-10); --viewport-min: var(--width-xl); }
  .font-11\@xl { --fs-min: var(--fs-11); --viewport-min: var(--width-xl); }
  .font-12\@xl { --fs-min: var(--fs-12); --viewport-min: var(--width-xl); }
  .font-13\@xl { --fs-min: var(--fs-13); --viewport-min: var(--width-xl); }
  .font-14\@xl { --fs-min: var(--fs-14); --viewport-min: var(--width-xl); }

  .xl\:font-1 { --fs-max: var(--fs-1); --fs-min: var(--fs-1); --viewport-min: var(--width-xl); }
  .xl\:font-2 { --fs-max: var(--fs-2); --fs-min: var(--fs-2); --viewport-min: var(--width-xl); }
  .xl\:font-3 { --fs-max: var(--fs-3); --fs-min: var(--fs-3); --viewport-min: var(--width-xl); }
  .xl\:font-4 { --fs-max: var(--fs-4); --fs-min: var(--fs-4); --viewport-min: var(--width-xl); }
  .xl\:font-5 { --fs-max: var(--fs-5); --fs-min: var(--fs-5); --viewport-min: var(--width-xl); }
  .xl\:font-6 { --fs-max: var(--fs-6); --fs-min: var(--fs-6); --viewport-min: var(--width-xl); }
  .xl\:font-7 { --fs-max: var(--fs-7); --fs-min: var(--fs-7); --viewport-min: var(--width-xl); }
  .xl\:font-8 { --fs-max: var(--fs-8); --fs-min: var(--fs-8); --viewport-min: var(--width-xl); }
  .xl\:font-9 { --fs-max: var(--fs-9); --fs-min: var(--fs-9); --viewport-min: var(--width-xl); }
  .xl\:font-10 { --fs-max: var(--fs-10); --fs-min: var(--fs-10); --viewport-min: var(--width-xl); }
  .xl\:font-11 { --fs-max: var(--fs-11); --fs-min: var(--fs-11); --viewport-min: var(--width-xl); }
  .xl\:font-12 { --fs-max: var(--fs-12); --fs-min: var(--fs-12); --viewport-min: var(--width-xl); }
  .xl\:font-13 { --fs-max: var(--fs-13); --fs-min: var(--fs-13); --viewport-min: var(--width-xl); }
  .xl\:font-14 { --fs-max: var(--fs-14); --fs-min: var(--fs-14); --viewport-min: var(--width-xl); }
}

@media (min-width: 1536px) {
  .font-1\@2xl { --fs-min: var(--fs-1); --viewport-min: var(--width-2xl); }
  .font-2\@2xl { --fs-min: var(--fs-2); --viewport-min: var(--width-2xl); }
  .font-3\@2xl { --fs-min: var(--fs-3); --viewport-min: var(--width-2xl); }
  .font-4\@2xl { --fs-min: var(--fs-4); --viewport-min: var(--width-2xl); }
  .font-5\@2xl { --fs-min: var(--fs-5); --viewport-min: var(--width-2xl); }
  .font-6\@2xl { --fs-min: var(--fs-6); --viewport-min: var(--width-2xl); }
  .font-7\@2xl { --fs-min: var(--fs-7); --viewport-min: var(--width-2xl); }
  .font-8\@2xl { --fs-min: var(--fs-8); --viewport-min: var(--width-2xl); }
  .font-9\@2xl { --fs-min: var(--fs-9); --viewport-min: var(--width-2xl); }
  .font-10\@2xl { --fs-min: var(--fs-10); --viewport-min: var(--width-2xl); }
  .font-11\@2xl { --fs-min: var(--fs-11); --viewport-min: var(--width-2xl); }
  .font-12\@2xl { --fs-min: var(--fs-12); --viewport-min: var(--width-2xl); }
  .font-13\@2xl { --fs-min: var(--fs-13); --viewport-min: var(--width-2xl); }
  .font-14\@2xl { --fs-min: var(--fs-14); --viewport-min: var(--width-2xl); }

  .\32 xl\:font-1 { --fs-max: var(--fs-1); --fs-min: var(--fs-1); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-2 { --fs-max: var(--fs-2); --fs-min: var(--fs-2); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-3 { --fs-max: var(--fs-3); --fs-min: var(--fs-3); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-4 { --fs-max: var(--fs-4); --fs-min: var(--fs-4); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-5 { --fs-max: var(--fs-5); --fs-min: var(--fs-5); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-6 { --fs-max: var(--fs-6); --fs-min: var(--fs-6); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-7 { --fs-max: var(--fs-7); --fs-min: var(--fs-7); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-8 { --fs-max: var(--fs-8); --fs-min: var(--fs-8); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-9 { --fs-max: var(--fs-9); --fs-min: var(--fs-9); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-10 { --fs-max: var(--fs-10); --fs-min: var(--fs-10); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-11 { --fs-max: var(--fs-11); --fs-min: var(--fs-11); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-12 { --fs-max: var(--fs-12); --fs-min: var(--fs-12); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-13 { --fs-max: var(--fs-13); --fs-min: var(--fs-13); --viewport-min: var(--width-2xl); }
  .\32 xl\:font-14 { --fs-max: var(--fs-14); --fs-min: var(--fs-14); --viewport-min: var(--width-2xl); }
  
}

@media (min-width: 1792px) {
  .font-1\@3xl { --fs-min: var(--fs-1); --viewport-min: var(--width-3xl); }
  .font-2\@3xl { --fs-min: var(--fs-2); --viewport-min: var(--width-3xl); }
  .font-3\@3xl { --fs-min: var(--fs-3); --viewport-min: var(--width-3xl); }
  .font-4\@3xl { --fs-min: var(--fs-4); --viewport-min: var(--width-3xl); }
  .font-5\@3xl { --fs-min: var(--fs-5); --viewport-min: var(--width-3xl); }
  .font-6\@3xl { --fs-min: var(--fs-6); --viewport-min: var(--width-3xl); }
  .font-7\@3xl { --fs-min: var(--fs-7); --viewport-min: var(--width-3xl); }
  .font-8\@3xl { --fs-min: var(--fs-8); --viewport-min: var(--width-3xl); }
  .font-9\@3xl { --fs-min: var(--fs-9); --viewport-min: var(--width-3xl); }
  .font-10\@3xl { --fs-min: var(--fs-10); --viewport-min: var(--width-3xl); }
  .font-11\@3xl { --fs-min: var(--fs-11); --viewport-min: var(--width-3xl); }
  .font-12\@3xl { --fs-min: var(--fs-12); --viewport-min: var(--width-3xl); }
  .font-13\@3xl { --fs-min: var(--fs-13); --viewport-min: var(--width-3xl); }
  .font-14\@3xl { --fs-min: var(--fs-14); --viewport-min: var(--width-3xl); }

  .\33 xl\:font-1 { --fs-max: var(--fs-1); --fs-min: var(--fs-1); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-2 { --fs-max: var(--fs-2); --fs-min: var(--fs-2); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-3 { --fs-max: var(--fs-3); --fs-min: var(--fs-3); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-4 { --fs-max: var(--fs-4); --fs-min: var(--fs-4); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-5 { --fs-max: var(--fs-5); --fs-min: var(--fs-5); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-6 { --fs-max: var(--fs-6); --fs-min: var(--fs-6); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-7 { --fs-max: var(--fs-7); --fs-min: var(--fs-7); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-8 { --fs-max: var(--fs-8); --fs-min: var(--fs-8); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-9 { --fs-max: var(--fs-9); --fs-min: var(--fs-9); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-10 { --fs-max: var(--fs-10); --fs-min: var(--fs-10); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-11 { --fs-max: var(--fs-11); --fs-min: var(--fs-11); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-12 { --fs-max: var(--fs-12); --fs-min: var(--fs-12); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-13 { --fs-max: var(--fs-13); --fs-min: var(--fs-13); --viewport-min: var(--width-3xl); }
  .\33 xl\:font-14 { --fs-max: var(--fs-14); --fs-min: var(--fs-14); --viewport-min: var(--width-3xl); }
}

@media (min-width: 2048px) {
  .font-1\@4xl { --fs-min: var(--fs-1); --viewport-min: var(--width-4xl); }
  .font-2\@4xl { --fs-min: var(--fs-2); --viewport-min: var(--width-4xl); }
  .font-3\@4xl { --fs-min: var(--fs-3); --viewport-min: var(--width-4xl); }
  .font-4\@4xl { --fs-min: var(--fs-4); --viewport-min: var(--width-4xl); }
  .font-5\@4xl { --fs-min: var(--fs-5); --viewport-min: var(--width-4xl); }
  .font-6\@4xl { --fs-min: var(--fs-6); --viewport-min: var(--width-4xl); }
  .font-7\@4xl { --fs-min: var(--fs-7); --viewport-min: var(--width-4xl); }
  .font-8\@4xl { --fs-min: var(--fs-8); --viewport-min: var(--width-4xl); }
  .font-9\@4xl { --fs-min: var(--fs-9); --viewport-min: var(--width-4xl); }
  .font-10\@4xl { --fs-min: var(--fs-10); --viewport-min: var(--width-4xl); }
  .font-11\@4xl { --fs-min: var(--fs-11); --viewport-min: var(--width-4xl); }
  .font-12\@4xl { --fs-min: var(--fs-12); --viewport-min: var(--width-4xl); }
  .font-13\@4xl { --fs-min: var(--fs-13); --viewport-min: var(--width-4xl); }
  .font-14\@4xl { --fs-min: var(--fs-14); --viewport-min: var(--width-4xl); }

  .\34 xl\:font-1 { --fs-max: var(--fs-1); --fs-min: var(--fs-1); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-2 { --fs-max: var(--fs-2); --fs-min: var(--fs-2); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-3 { --fs-max: var(--fs-3); --fs-min: var(--fs-3); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-4 { --fs-max: var(--fs-4); --fs-min: var(--fs-4); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-5 { --fs-max: var(--fs-5); --fs-min: var(--fs-5); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-6 { --fs-max: var(--fs-6); --fs-min: var(--fs-6); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-7 { --fs-max: var(--fs-7); --fs-min: var(--fs-7); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-8 { --fs-max: var(--fs-8); --fs-min: var(--fs-8); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-9 { --fs-max: var(--fs-9); --fs-min: var(--fs-9); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-10 { --fs-max: var(--fs-10); --fs-min: var(--fs-10); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-11 { --fs-max: var(--fs-11); --fs-min: var(--fs-11); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-12 { --fs-max: var(--fs-12); --fs-min: var(--fs-12); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-13 { --fs-max: var(--fs-13); --fs-min: var(--fs-13); --viewport-min: var(--width-4xl); }
  .\34 xl\:font-14 { --fs-max: var(--fs-14); --fs-min: var(--fs-14); --viewport-min: var(--width-4xl); }
}

@media (min-width: 2404px) {
  .font-1\@5xl { --fs-min: var(--fs-1); --viewport-min: var(--width-5xl); }
  .font-2\@5xl { --fs-min: var(--fs-2); --viewport-min: var(--width-5xl); }
  .font-3\@5xl { --fs-min: var(--fs-3); --viewport-min: var(--width-5xl); }
  .font-4\@5xl { --fs-min: var(--fs-4); --viewport-min: var(--width-5xl); }
  .font-5\@5xl { --fs-min: var(--fs-5); --viewport-min: var(--width-5xl); }
  .font-6\@5xl { --fs-min: var(--fs-6); --viewport-min: var(--width-5xl); }
  .font-7\@5xl { --fs-min: var(--fs-7); --viewport-min: var(--width-5xl); }
  .font-8\@5xl { --fs-min: var(--fs-8); --viewport-min: var(--width-5xl); }
  .font-9\@5xl { --fs-min: var(--fs-9); --viewport-min: var(--width-5xl); }
  .font-10\@5xl { --fs-min: var(--fs-10); --viewport-min: var(--width-5xl); }
  .font-11\@5xl { --fs-min: var(--fs-11); --viewport-min: var(--width-5xl); }
  .font-12\@5xl { --fs-min: var(--fs-12); --viewport-min: var(--width-5xl); }
  .font-13\@5xl { --fs-min: var(--fs-13); --viewport-min: var(--width-5xl); }
  .font-14\@5xl { --fs-min: var(--fs-14); --viewport-min: var(--width-5xl); }

  .\35 xl\:font-1 { --fs-max: var(--fs-1); --fs-min: var(--fs-1); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-2 { --fs-max: var(--fs-2); --fs-min: var(--fs-2); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-3 { --fs-max: var(--fs-3); --fs-min: var(--fs-3); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-4 { --fs-max: var(--fs-4); --fs-min: var(--fs-4); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-5 { --fs-max: var(--fs-5); --fs-min: var(--fs-5); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-6 { --fs-max: var(--fs-6); --fs-min: var(--fs-6); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-7 { --fs-max: var(--fs-7); --fs-min: var(--fs-7); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-8 { --fs-max: var(--fs-8); --fs-min: var(--fs-8); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-9 { --fs-max: var(--fs-9); --fs-min: var(--fs-9); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-10 { --fs-max: var(--fs-10); --fs-min: var(--fs-10); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-11 { --fs-max: var(--fs-11); --fs-min: var(--fs-11); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-12 { --fs-max: var(--fs-12); --fs-min: var(--fs-12); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-13 { --fs-max: var(--fs-13); --fs-min: var(--fs-13); --viewport-min: var(--width-5xl); }
  .\35 xl\:font-14 { --fs-max: var(--fs-14); --fs-min: var(--fs-14); --viewport-min: var(--width-5xl); }
}

/* Set context */
.container-inline {
  container-type: inline-size;
}

.fs-container {
  font-size: clamp(var(--fs-min) * 1px, var(--font-size-container), var(--fs-max) * 1px); 
}

.fs-viewport {
  font-size: clamp(var(--fs-min) * 1px, var(--font-size-viewport), var(--fs-max) * 1px);
}
